/*---------------header--------------*/
header {
    position: relative;
    width: 100%;
    background: #008CBA;
    height: 5em;
}
.name {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-left: 100px;
    font-size: 26px;
    color: white;
}
.menu {
    list-style: none;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-120%);
    -ms-transform: translateY(-120%);
    transform: translateY(-120%);
    right: 100px;
    font-size: 16px;
}
.menu a {
    text-decoration: none;
    color: white;
}